include CHANGELOG.md
include LICENSE
include README.md
include test/bad_recipe.py
include test/docker.blob
include test/global_vars_recipe.py
include test/helpers.py
include test/singularity.blob
graft docs
graft recipes
